<header class="cf" id="main-header" id="dashboard-header">
  <div class="wrapper-wide">
  <a href="index.html" id="logo">Podcast.fm</a>
  <nav>
    <ul>
      <li><a href="podcasts.html">Explore</a></li>
      <li><a href="sign-in.html">Sign In</a></li>
      <li><a href="sign-up.html">Create A Podcast</a></li>
    </ul>
  </nav>
</div>
</header>
<div id="podcast-show">
  <div id="show-banner">
    <div class="wrapper-skinny">
      <h1>Dashboard:<br />The Rocketship Podcast</h1>
      <p class="description">lsjkdf sadlfkjas;dlfjk sadflsakdfnsd fsdaf sadfls fasljd fl;ajfslkdfnlask</p>
      <a href="#" class="subscribe-link">Edit</a>
    </div>
  </div>

  <div id="dashboard-sub-nav">
    <div class="wrapper-skinny">
      <ul>
        <li class="current">Episodes</li>
        <li><a href="#">New Epidsodes</a></li>
        <li><a href="#">Account settings</a></li>
        <li><a href="#">View Podcast</a></li>
      </ul>
    </div>
  </div>

  <div id="episode">
    <div class="wrapper-skinny">
      <ul class="cf">
        <li class="cf">
          <div class="episode-thumbnail">
            <img src="http://placehold.it/150x150">
          </div>
          <div class="episode-overview">
            <h2><a href="episode.html">How To Launch a Startup in 8 Weeks.</a></h2>
            <p class="description">asldk;fj asdflkjsadf asdf sdfa asd fsa dfsdf sd af fs dsaasd df sadfsafdas fdsa fdsa dfs</p>
            <div class="authorized-links">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </div>
          </div>
        </li>
        <li class="cf">
          <div class="episode-thumbnail">
            <img src="http://placehold.it/150x150">
          </div>
          <div class="episode-overview">
            <h2><a href="episode.html">How To Launch a Startup in 8 Weeks.</a></h2>
            <p class="description">asldk;fj asdflkjsadf asdf sdfa asd fsa dfsdf sd af fs dsaasd df sadfsafdas fdsa fdsa dfs</p>
            <div class="authorized-links">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </div>
        </div>
        </li>
      </div>
    </div>
