<header class="cf" id="main-header">
  <div class="wrapper-wide">
  <a href="index.html" id="logo">Podcast.fm</a>
  <nav>
    <ul>
      <li><a href="podcasts.html">Explore</a></li>
      <li><a href="sign-in.html">Sign In</a></li>
      <li><a href="sign-up.html">Create A Podcast</a></li>
    </ul>
  </nav>
</div>
</header>
<div id="podcast-show">
  <div id="show-banner">
    <div class="wrapper-skinny">
      <h1>The Rocketship Podcast</h1>
      <p class="description">lsjkdf sadlfkjas;dlfjk sadflsakdfnsd fsdaf sadfls fasljd fl;ajfslkdfnlask</p>
      <a href="#" class="subscribe-link">iTunes</a>
      <a href="#" class="subscribe-link">Sticher</a>
      <a href="#" class="subscribe-link">Podbay</a>
    </div>
  </div>
  <div id="breadcrumb">
    All Podcasts
    <span>/</span>
    <a href="#">The Rocketship Podcast</a>
  </div>
  <div id="episode-content">
    <div class="wrapper-skinny">
      <img src="http://placehold.it/150x150" class="current-episode-thumbnail">
      <h2>How To Launch a Startup in 8 Weeks</h2>
      <p class="description">asldk;fj asdflkjsadf asdf sdfa asd fsa dfsdf sd af fs dsaasd df sadfsafdas fdsa fdsa dfs</p>
    </div>
  </div>

  <div id="episode">
    <div class="wrapper-skinny">
      <ul class="cf">
        <li class="cf">
          <div class="episode-thumbnail">
            <img src="http://placehold.it/150x150">
          </div>
          <div class="episode-overview">
            <h2><a href="episode.html">How To Launch a Startup in 8 Weeks.</a></h2>
            <p class="description">asldk;fj asdflkjsadf asdf sdfa asd fsa dfsdf sd af fs dsaasd df sadfsafdas fdsa fdsa dfs</p>
          </div>
        </li>
        <li class="cf">
          <div class="episode-thumbnail">
            <img src="http://placehold.it/150x150">
          </div>
          <div class="episode-overview">
            <h2><a href="episode.html">How To Launch a Startup in 8 Weeks.</a></h2>
            <p class="description">asldk;fj asdflkjsadf asdf sdfa asd fsa dfsdf sd af fs dsaasd df sadfsafdas fdsa fdsa dfs</p>
          </div>
        </li>
        <li class="cf">
          <div class="episode-thumbnail">
            <img src="http://placehold.it/150x150">
          </div>
          <div class="episode-overview">
            <h2><a href="episode.html">How To Launch a Startup in 8 Weeks.</a></h2>
            <p class="description">asldk;fj asdflkjsadf asdf sdfa asd fsa dfsdf sd af fs dsaasd df sadfsafdas fdsa fdsa dfs</p>
          </div>
        </li>
        <li class="cf">
          <div class="episode-thumbnail">
            <img src="http://placehold.it/150x150">
          </div>
          <div class="episode-overview">
            <h2><a href="episode.html">How To Launch a Startup in 8 Weeks.</a></h2>
            <p class="description">asldk;fj asdflkjsadf asdf sdfa asd fsa dfsdf sd af fs dsaasd df sadfsafdas fdsa fdsa dfs</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="pagination cf">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a href="#">2</a>
    <a href="#" class="next_page">Next</a>
  </div>
</div>
