
<div id="background">
  <header>
    <div class="wrapper-wide">
    <a href="#" id="logo">Podcast.fm</a>
    <nav>
      <ul>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Create A Podcast</a></li>
      </ul>
    </nav>
  </div>
  </header>
  <div class="wrapper-skinny center">
    <h1>Discover your New Favorite Podcast or Create Your Own</h1>
    <a href="#" class="button button_highlight">Sign Up</a>
    <a href="#" class="button button_white">Explore</a>
  </div>
</div>
