<div id="background">
  <div class="wrapper-skinny center">
    <h1>Discover your New Favorite Podcast or Create Your Own</h1>
    <%= link_to "Sign Up", new_podcast_registration_path, class: "button button_highlight" %>
    <%= link_to "Explore", podcasts_path, class: "button button_white" %>
  </div>
</div>
