<header class="cf" id="main-header">
  <div class="wrapper-wide">
  <a href="#" id="logo">Podcast.fm</a>
  <nav>
    <ul>
      <li><a href="#">Explore</a></li>
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Create A Podcast</a></li>
    </ul>
  </nav>
</div>
</header>
<div class="banner" id="podcasts_banner">
  <h1>Discover Your New Favorite Podcast</h1>
</div>

<div class="wrapper">
  <div id="podcasts" class="cf">
    <ul>
      <a href="#">
      <li>
        <img src="http://placehold.it/150x150">
        <div class="podcast_overview">
          <h2>Narwhales</h2>
          <p class="episode_count">1 Episode</p>
        </div>
      </li>
      </a>

      <a href="#">
      <li>
        <img src="http://placehold.it/150x150">
        <div class="podcast_overview">
          <h2>Narwhales</h2>
          <p class="episode_count">1 Episode</p>
        </div>
      </li>
      </a>

      <a href="#">
      <li>
        <img src="http://placehold.it/150x150">
        <div class="podcast_overview">
          <h2>Narwhales</h2>
          <p class="episode_count">1 Episode</p>
        </div>
      </li>
      </a>

      <a href="#">
      <li>
        <img src="http://placehold.it/150x150">
        <div class="podcast_overview">
          <h2>Narwhales</h2>
          <p class="episode_count">1 Episode</p>
        </div>
      </li>
      </a>

      <a href="#">
      <li>
        <img src="http://placehold.it/150x150">
        <div class="podcast_overview">
          <h2>Narwhales</h2>
          <p class="episode_count">1 Episode</p>
        </div>
      </li>
      </a>

      <a href="#">
      <li>
        <img src="http://placehold.it/150x150">
        <div class="podcast_overview">
          <h2>Narwhales</h2>
          <p class="episode_count">1 Episode</p>
        </div>
      </li>
      </a>
    </ul>
  </div><!--closes podcasts-->

  <div class="pagination cf">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a href="#">2</a>
    <a href="#" class="next_page">Next</a>
  </div>

</div>
