<header class="cf" id="main-header">
  <div class="wrapper-wide">
    <a href="index.html" id="logo">Podcast.fm</a>
    <nav>
      <ul>
        <li><a href="podcasts.html">Explore</a></li>
        <li><a href="sign-in.html">Sign In</a></li>
        <li><a href="sign-up.html">Create A Podcast</a></li>
      </ul>
    </nav>
</div>
</header>
<div class="banner" id="sign-up-banner">
  <h1>Create a Podcast.  Its 100% Free.</h1>
</div>
