@import "application";

#podcasts{
  padding-bottom: 3rem;
  ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
    li {
      width: 23%;
      float: left;
      margin: 0 1% 2rem 1%;
      -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
      border-radius: 0.35rem;
      img {
        width: 100%;
        max-width: 100%;
        border-radius: 0.35rem 0.35rem 0 0;
      }
      .podcast-overview{
        padding: 1rem 7.5%;
        h2 {
          margin: 0;
          font-size: 700;
          color: $dark;
        }
        .episode_count{
          color: lighten($dark, 50%);
          font-size: 09rem;
          margin: 0.5rem 0 .25rem 0;
        }
      }
    }
  }
  &:hover{
    img{
      opacity: 0.8;
    }
    .podcast_overview{
      h2{
        color: $highlight;
      }
    }
  }
}

.pagination{
  text-align:center;
  margin: 1rem 0 5rem 0;
  a, .previous-page, .current, .next-page{
    padding: 0.75rem;
    margin: 0 0.25rem;
    border-radius: 0.15rem;
    line-height: 1.25;
    text-decoration: none;
    background-color: #edeff5;
    font-weight: 700;
    font-size: 0.75rem;
    &:hover{
      background-color: $highlight;
      color:$white;
    }
  }
  .current{
    background-color: $highlight;
    color:$white;
  }
  .disabled{
    color:#c0c0c0;
    &:hover{
      color:#c0c0c0;
    }
  }
}
#podcast-show{
  #show-banner{
    background:$dark;
    text-align: center;
    padding: 5rem 0;
    h1{
      font-size:2.5rem;
      font-weight:300;
      color:$white;
      margin:0 0 .5rem;
    }
    .description{
      width:60%;
      line-height: 1.75;
      margin:0 auto 2rem auto;
      color:lighten($dark, 30%);
    }
    .subscribe-link{
      font-size:0.6rem;
      text-transform:uppercase;
      font-weight: 700;
      text-align: center;
      color:$white;
      background: $highlight;
      text-decoration: none;
      display:inline;
      border-radius:2rem;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
      &:hover{
        background: darken($highlight, 10%)
      }
    }
  }
}

#breadcrumb{
  padding:1rem 0;
  text-align:center;
  border-bottom: 1px solid darken($dark, 75%);
  font-weight: 700;
  font-size: .7rem;
  text-decoration: none;
  a{
    color: lighten($dark, 10%);
  }
  span{
    margin: 0 0.5rem;
  }
}

#episode{
  padding:3rem 0;
  ul{
    list-style: none;
    padding-left: 0;
    li{
      padding-bottom:2rem;
      border-bottom: 1px solid darken($dark, 75%);
      margin-bottom: 2rem;
      &:last-child{
        border-bottom: none;
      }
      .episode-thumbnail{
        width: 22%;
        float: left;
        img{
          width:10rem;
          max-width: 100%;
          border-radius:0.35rem;
        }
      }
      .episode-overview{
        width:75.5%;
        float:left;
        margin-left:1.5%;
        h2 {
          a {
            text-decoration: none;
            color: $dark;
          }
        }
      }
      .description{
        color:lighten($dark, 25%)
      }
    }
  }
}

#episode-content{
  padding: 4rem 0;
  margin-bottom: 4rem;
  border-bottom: 1px solid lighten($dark, 75%);
  .current-episode-thumbnail{
    display: block;
    margin: 0 auto 2rem auto;
    width: 10rem;
    max-width:100%;
    border-radius: 0.35rem;
  }
  h2{
    font-size:1.5rem;
    text-align: center;
  }
  .description{
    text-align: center;
    font-size: .9rem;
    line-height:1.7rem;
    color: lighten($dark, 10%);
  }
}
