// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";

#background{
  background-image: url("https://s3.amazonaws.com/podnet-fm/welcome_background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  header{
    color: $white;
    padding: 3rem 0;
    #logo{
      float: left;
      text-transform: uppercase;
      font-weight: 700;
      color: $white;
      text-decoration:none;
    }
    nav{
      float: right;
    }
    ul{
      list-style: none;
      margin: 0;
      li{
        display:inline;
        margin-left: 2.5rem;
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
  h1{
    color: $white;
    font-size: 3.5rem;
    font-weight: 300;
    margin: 7rem 0 2rem 0;
    text-align: center;
  }
  .button{
    text-align: center;
  }
}
