<div class="banner">
  <h1>Discover Your New Favorite Podcast</h1>
</div>

<div class="wrapper">
  <div id="podcasts" class="cf">
    <ul class="cf">
      <% @podcasts.each do |podcast| %>
        <%= link_to podcast do %>
          <li>
            <%= image_tag podcast.thumbnail.url(:medium) %>
            <div class="podcast_overview">
              <h2><%= podcast.title %></h2>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= will_paginate @podcasts, previous_label: "Prev", next_label: "Next" %>
  </div><!--closes podcasts-->
</div>
